:root {
    --main-accent: #ecc147;
    /* --main-accent: #fc9c04; */
    --wood-light: #93603f;
    --wood-dark :#624a3a;
    --background-main: #e5e2e0;
    --text-dark: #42413f;
    --text-light: #b3b3b3;
}