@import url(colors.css);

:root {
    --header-height: 10vh;
}

html{
    scroll-behavior:smooth
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

section {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-main);
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 60px;
    margin: 0;
    color: var(--text-dark);
    text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.623); /* Idk how I feel about this tho */
}

.logo>span {
    background-color: var(--main-accent);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header {
    height: var(--header-height);
    /* background-color: aliceblue; */
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    position: fixed;
    width: 100vw;
}

#divider-svg {
    fill: var(--main-accent);
}

header>.menu {
    display: flex;
    gap: 1rem;
}

header>div,
header>.menu>div {
    display: grid;
    place-items: center;
    height: 100%;
}

.menu-item {
    color: var(--text-light);
    transition: all 250ms ease;
}

.menu-item:hover,
.menu-item.active {
    color: var(--main-accent);
    font-size: 20px;
}

section.hero {
    background-image: url(../public/ai_illustrations/hero_section.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-top: 0;
    overflow-x: hidden;
}

section.hero .wrapper {
    height: 100%;
    display: grid;
    place-items: center start;
    padding: 0 10rem;
}

section.hero .wrapper>div>* {
    max-width: 30vw;
}

section.hero .wrapper p {
    line-height: 1.9rem;
    color: var(--text-light);
    margin: 2rem 0;
}

button.accent {
    background-color: var(--main-accent);
    border: none;
    border-radius: 100vh;
    padding: 1.3rem 2.3rem;
    font-size: 13px;
    font-weight: 500;
    box-shadow: -8px 10px 20px #0000004a;
}

section#five-bullet-points {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bullet-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.bullet-column:nth-child(2) {
    grid-template-rows: 2fr 1fr;
}

#brush-illustration {
    max-width: 30vw;
}

.floating-bullet,
.floating-bullet>.wrapper {
    display: grid;
    place-items: center;
}

.floating-bullet>.wrapper {
    gap: 1rem;
}

.floating-bullet>.wrapper h3,
.floating-bullet>.wrapper p {
    margin: 0;
}
.floating-bullet>.wrapper h3 {
    color: var(--text-dark);
    font-size: 30px;
}
.floating-bullet>.wrapper p {
    color: var(--text-light);
    max-width: 50%;
    text-align: center;
}

.floating-bullet>.wrapper>div {
    overflow-y: hidden;
    display: grid;
    place-items: center;
}