name: NodeJS with Webpack

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        git config --global user.email "mytyber@gmail.com"
        git config --global user.name "Collert"
        git remote set-url origin https://Collert:${{ secrets.MY_PASSWORD }}@github.com/Collert/Comfort-Lux.git
        npm install
        npm run deploy
